<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:of="http://omnifaces.org/functions"
                template="/templates/simpleTemplate.xhtml">

    <ui:define name="content">

        <div style="padding: 20px; background-color: lightyellow">
            <h1>Error</h1>
            <h3>We apologize for this error, something went wrong. Please contact support.</h3>

            <ul>
                <li>Date/time: #{of:formatDate(now, 'yyyy-MM-dd HH:mm:ss')}</li>
                <li>User agent: #{header['user-agent']}</li>
                <li>User IP: #{request.remoteAddr}</li>
                <li>Request URI: #{requestScope['javax.servlet.error.request_uri']}</li>
                <li>Ajax request: #{facesContext.partialViewContext.ajaxRequest ? 'Yes' : 'No'}</li>
                <li>Status code: #{requestScope['javax.servlet.error.status_code']}</li>
                <li>Exception type: #{requestScope['javax.servlet.error.exception_type']}</li>
                <li>Exception message: #{requestScope['javax.servlet.error.message']}</li>
                <li>Exception UUID: #{requestScope['org.omnifaces.exception_uuid']}</li>
            </ul>

            <p>
                <a href="#{request.contextPath}">Login</a>
                <h:outputLink value="#{requestScope['javax.servlet.error.request_uri']}">Go back</h:outputLink>
            </p>

            <!-- Enviornment specific property to define if stack trace can be displayed to the user -->
            <c:if test="#{true}">
                <hr/>
                <h3 style="font-weight: bold">Stack trace details for developers</h3>
                <hr/>

                <pre>#{of:printStackTrace(requestScope['javax.servlet.error.exception'])}</pre>
            </c:if>
        </div>
    </ui:define>

</ui:composition>