<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/simpleTemplate.xhtml">

    <ui:define name="content">
        <div style="padding: 20px; background-color: lightyellow">
            <h1>Page Not Found</h1>
            <h3>The page you requested could not be found. Please go back or contact support.</h3>

            <p>
                <a href="#{request.contextPath}">Home</a>
            </p>

        </div>
    </ui:define>

</ui:composition>