<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/simpleTemplate.xhtml">

    <ui:define name="content">
        <div style="padding: 20px; background-color: lightyellow">
            <h1>Unauthorized</h1>
            <h3>Authentication is required and has failed or has not yet been provided.</h3>

            <p>
                <a href="#{request.contextPath}">Login</a>
            </p>

        </div>
    </ui:define>

</ui:composition>