<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:view>

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
            <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
            <title>My JSF 2,3 and PrimeFaces application</title>
        </f:facet>
    </h:head>

    <h:body>
        <div style="padding: 20px; background-color: lightyellow">
            <h1>Session expired</h1>
            <h3>Your session has expired due to inactivity. Please login...</h3>

            <p>
                <a href="#{request.contextPath}">Login</a>
            </p>
        </div>
    </h:body>

</f:view>
</html>