<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/simpleTemplate.xhtml">

    <ui:define name="content">

        <h:form id="loginId">
            <fieldset>
                <legend>Login</legend>
                <section>
                    <h:outputLabel for="usernameInput" value="Username"/>
                    <h:inputText id="usernameInput" value="#{loginController.username}"
                                 required="true"/>
                </section>
                <section>
                    <h:outputLabel for="passwordInput" value="Password"/>
                    <h:inputSecret id="passwordInput" value="#{loginController.password}"
                                   required="true"/>
                </section>
                <footer>
                    <h:commandButton value="Login"
                                     action="#{loginController.actionLogin}"/>

                </footer>
            </fieldset>
            <br/>
            <h5>UserPrincipal: #{loginController.principal}</h5>
            <h5>SessionMaxInactiveInterval is: #{loginController.sessionMaxInactiveInterval}</h5>
        </h:form>

    </ui:define>
</ui:composition>