<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/simpleTemplate.xhtml">

    <ui:define name="content">

        <h2>Welcome on restricted page</h2>

        <h5>UserPrincipal: #{loginController.principal}</h5>
        <h5>SessionMaxInactiveInterval is: #{loginController.sessionMaxInactiveInterval}</h5>

        <h:form>

            <pe:timer id="timerId"
                      widgetVar="timerWidgetVar"
                      timeout="#{loginController.sessionMaxInactiveInterval}"
                      forward="false"
                      style="color: black"/>

            <p:commandButton value="Non-AJAX"
                             ajax="false"
                             action="#{loginController.actionJustTest()}"/>

            <p:commandButton value="AJAX Bean"
                             action="#{loginController.actionJustTest()}"/>

            <p:commandButton value="AJAX Push"
                             action="#{pushBean.clockAction()}"/>

            <p:commandButton value="AJAX Logout"
                             action="#{loginController.actionLogout}"/>

            <input type="button" value="Html/JS Invalidate session"
                   onclick="$.get('#{request.contextPath}/invalidatesession?#{now.time}', alert('Session invalidated!'))"/>

        </h:form>

        <f:websocket channel="clock" onmessage="socketListener"/>

        <script type="text/javascript">
            function socketListener(message, channel, event) {
                document.getElementById("clockId").innerHTML += message + "<br/>";
            }
        </script>

        <hr/>
        <div id="clockId"></div>

    </ui:define>
</ui:composition>