<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>PrimeFaces Test</title>
</h:head>
<h:body>

    <h1>#{testView.testString}</h1>
    <h:form id="frmTest">

    </h:form>

    <a href="xhtml/login.xhtml">Go to Login page</a>

</h:body>
</html>